*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#0d0d0d;

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 60px;

background:black;

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

nav a{

color:white;

text-decoration:none;

}

.logo{

font-size:28px;

font-weight:bold;

color:#00d9ff;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("images/hero.jpg");

background-size:cover;

background-position:center;

}

.hero h1{

font-size:70px;

margin-bottom:20px;

}

.hero h2{

font-size:30px;

margin-bottom:20px;

color:#00d9ff;

}

.hero p{

font-size:22px;

margin-bottom:40px;

}

.button{

padding:15px 35px;

background:#00d9ff;

color:black;

text-decoration:none;

margin:10px;

border-radius:8px;

font-weight:bold;

transition:.3s;

}

.button:hover{

background:white;

}
